@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin:20px 90px 0px 90px;
    background-color: rgb(230, 230, 230)
}
.header-bd{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* style nav */
.title-bd{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.text-bd{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
padding-right: 940px;
}
.btn-si{
    box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
width: 116px;
height: 52px;
color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
/* margin-right: 45px; */
}
/* style header content */
.header-content{
    width: 1280px;
    height: 500px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 50px;
border-radius: 24px;
background-color: rgb(198, 228, 214);
}
.header-content-element{
    padding-left: 50px;
}
.element-bd{
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
}
.element-info{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 63px;
font-weight: 700;
line-height: 65px;
}
.btn-all{
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    background-color: rgb(0, 106, 80);
    border-style: none;
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.header-img{
    padding-right: 50px;
width: 420px;
height: 320px;
}
/* Style section development */
.new-development{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.section-title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
}
.section-bd{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 17px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
/* style all box */
.development{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.develop{
    padding: 32px 45px 33px 45px;
    width: 400px;
    height: 310px;
    flex-direction:column;
    box-sizing: border-box;
    border-style:none;
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
}
.energy{
    padding: 32px 45px 33px 45px;
    width: 420px;
    height: 310px;
    flex-direction:column;
    box-sizing: border-box;
    border-style:none;
    border-radius: 16px;
    background-color: rgb(198, 228, 214);
}
.modern{
    padding: 32px 45px 33px 45px;
    width: 420px;
    height: 310px;
    flex-direction:column;
    box-sizing: border-box;
    border-style:none;
    border-radius: 16px;
    background-color: rgb(247, 235, 207)
}
/* style box */
.development-img{
width: 62px;
height: 62px;
}
.development-title{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
}
.development-info{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 13px;
font-weight: 400;
line-height: 23px;
padding-bottom: 20px;
}
.btn-d{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border-style: none;
    background-color: rgb(84, 144, 245);
}
.btn-e{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border-style: none;
    background-color:rgb(9, 161, 92);
    margin-top: 15px;
}
.btn-m{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border-style: none;
    background-color: rgb(255, 194, 57);
    margin-top: 10px;
}
/* style section paragraph */
.section-paragraph{
    margin-top: 90px;
    background-image: url('../assets/quote-bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
padding: 15px 20px 30px 25px;
/* padding-bottom: 30px; */
}
.section-paragraph-detail{
    width: 1232px;
    height: 100px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    padding-top: 10px;
}
.pm{
    padding-top: 50px;
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 22px;
font-weight: 620;
line-height: 30px;
}
.pm-info{
    color: rgba(14, 14, 14, 0.6);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 20px;
padding-bottom: 30px;
}
/* style recent news */
.recent-news{
margin-top: 100px;
display: flex;
flex-direction: column;
}
.news-title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
}
.news-detail{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-right: 50px;
}
.news-content{
    display: flex;
    align-items: center;
    margin: 30px 0 30px 0 ;
    border-radius: 24px;
    background: rgb(255, 255, 255);
 }
 .news-satelite-img{
    width: 380px;
    height: 260px;
    border-radius: 24px;
    margin: 30px 0 30px 0;
 }
 .news-content-element{
    padding-left: 30px;
 }
 .news-element-title{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 27px;
font-weight: 700;
line-height: 28px;
 }
 .newspaper-al{
width: 120px;
height: 35px;
 }
 .time-and-date{
    display: flex;
    gap: 30px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
 }
 .satelite-info{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
 }
 .btn-sat{
width: 120px;
height: 40px;
border-radius: 8px;
border-style: none;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 15px;
font-weight: 600;
line-height: 18px;
 }
 /* All Button Hover Style  using ID*/
#one:hover{
    background-color: cadetblue;
 }
 /* Donate for Bangladesh Style */
 .donate-for-bd{
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: column;
    width: 1280px;
    height: 380px;
 }
 .donate-heading{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 35px;
font-weight: 700;
line-height: 40px;
 }
 .donate-detail{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
 }
 .donate-btn{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 40px;
 }
 .amount-donate{
width: 200px;
height: 100px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 600;
line-height: 35px;
margin-bottom: 30px;
 }
 .input-text-something{
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .text-something{
    text-align: center;
    width: 850px;
    height: 50px;
    box-sizing: border-box;
    border-style: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
 }
 .donate-done{
display: flex;
justify-content: center;
align-items: center;
width: 150px;
padding: 12px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 15px;
font-weight: 500;
line-height: 20px;
margin-top: 30px;
text-align: center;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 3px;
background: rgb(0, 106, 80);
 }
 /* style Newsletter Section */
 .section-newsletter{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 70px;
    margin-bottom: 30px;
 }
 .newsletter-title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
 }
 .newsletter-heading{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
 }
 .email-and-btn{
    padding-top: 20px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
 }
 .subcribe-email{
 width: 500px;
height:40px;
border-radius: 8px ;
background: rgb(255, 255, 255);
border-style: none;
color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
padding-left: 20px;

 }
 .subcribe-btn{
 width: 100px;
height: 40px;
border-style: none;
border-radius:8px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
background: rgb(0, 106, 80);
 }
 .extra-newsletter{
    padding-top: 15px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
 }